:root {
    --bg: #ffd60a;
    --bg-darker: #ffc300;
    --bg-contrast: #003566;
    --bg-contrast-darker: #001d3d;
    --bg-text: #001d3d;
    --bg-contrast-text: #fff;
    --body-margin: 10px;
}

* {
    font-family: "Arial", sans-serif;
}

body {
    overflow: hidden;
    background-color: var(--bg);
    border: var(--body-margin) solid var(--bg-darker);
    height: calc(100svh - var(--body-margin) * 2);
    width: calc(100svw - var(--body-margin) * 2);
    position: fixed;
    margin: 0;
    z-index: 0;
}

body::before {
    content: ' ';
    height: 500%;
    width: 500%;
    position: absolute;
    top: -250%;
    left: -250%;
    overflow: hidden;
    background-image: url("../images/basta-laro-logo-square-with-gap.png");
    background-repeat: repeat;
    background-size: 300px 300px;
    background-position: -50% -50%;
    background-clip: content-box;
    filter: invert(82%) sepia(28%) saturate(4403%) hue-rotate(358deg) brightness(102%) contrast(106%);
    transform: rotate(315deg);
    animation: move-background 120s linear infinite;
    z-index: -1;
}

@keyframes move-background {
    0% {
        background-position: -50% -50%;
    }
    100% {
        background-position: 53.175% 53.075%;
    }
}

.logo-holder {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: clamp(250px, 100vw, 720px);
}

.small-logo-holder {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.small-logo {
    width: clamp(125px, 50vw, 360px);
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 60%;
}

a.button {
    width: clamp(40%, 200px, 50%);
    background-color: var(--bg-contrast-darker);
    border: 2px solid var(--bg-contrast);
    color: var(--bg-contrast-text);
    border-radius: 15px;
    padding: 1em 1.5em;
    margin: 0.25em;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    outline: 0;
    transition: all 0.5s ease;
}

@keyframes size-bounce {
    0% {
        transform: scale(1.0);
    }
    25% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1.0);
    }
}

.score-container {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: calc(10% - var(--body-margin));
    width: 100%;
    margin: 1em 0;
    gap: 0.25em;
    grid-template-columns: repeat(2, 1fr);
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(70% - var(--body-margin));
    width: 100%;
}

.game-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(320px, 100vw, 720px);
}

.game-container input[type="text"] {
    width: calc(100% - 2em - 4px - 0.5em);
    background-color: var(--bg-contrast-darker);
    border: 2px solid var(--bg-contrast);
    color: var(--bg-contrast-text);
    border-radius: 15px;
    padding: 0.5em 1em;
    margin: 0.25em;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    transition: all 0.5s ease;
}

.game-container #letter-set {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: calc(100% - 2em);
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.game-container #letter-set > button {
    width: 100%;
    background-color: var(--bg-contrast-darker);
    border: 2px solid var(--bg-contrast);
    color: var(--bg-contrast-text);
    border-radius: 15px;
    padding: 0.5em 0.25em;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    transition: all 0.5s ease;
}

.submit-reset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.submit-reset > button {
    width: 100%;
    margin: 0.5em;
    background-color: var(--bg-contrast-darker);
    border: 2px solid var(--bg-contrast);
    color: var(--bg-contrast-text);
    border-radius: 15px;
    padding: 0.5em 1em;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    outline: 0;
    transition: all 0.5s ease;
}

.submit-reset > button.submit {
    background-color: green;
    border: 2px solid darkgreen;
    color: var(--bg-contrast-text);
}

.submit-reset > button.reset {
    background-color: red;
    border: 2px solid darkred;
    color: var(--bg-contrast-text);
}

/* SHORTHAND STYLING CLASSES */
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.large-font {
    font-size: 2rem;
}

/* COMMON STYLES */

.game-container #letter-set > button.used,
a.button.disabled {
    background-color: #333;
    background-color: #444;
    color: #fff;
    cursor: not-allowed;
}

.game-container #letter-set > button:not(.used):hover,
.bouncy-button:not(.disabled):hover {
    filter: brightness(1.1);
    cursor: pointer;
    animation: size-bounce 0.25s ease;
}

.game-container #letter-set > button:not(.used):active,
.game-container #letter-set > button:not(.used):focus,
.bouncy-button:not(.disabled):active,
.bouncy-button:not(.disabled):focus {
    filter: brightness(0.9);
    outline: 0;
    animation: size-bounce 0.25s ease;
}